<!--<div id="info_contents">-->
<!--<?php $is_logged_in = ($logged_in) ? 'true' : 'false'; ?>-->

<div id="charGenApp" class="form-horizontal" ng-init="init()" ng-cloak>
<!--<span class="hide">{{isLoggedIn=<?php echo $is_logged_in; ?>}}</span>-->
<span ng-hide="true">Loading Character Generator...</span>
<div id="successMsg" class="alert alert-success" ng-show="successMessage">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>{{successMessage}}</p>
</div>
<div class="alert alert-danger" ng-show="errorMessage">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div ng-bind-html="errorMessage"></div>
</div>
<div class="row panel panel-default">
<div class="panel-heading">
    <h1 class="panel-title">Character Generator</h1>
    <!--<div class="pull-right">
        <button class="btn btn-primary" ng-click="openNewCharDialog()">Create New Character</button>
    </div>
    <div class="pull-right" ng-show="storedCharacter">
        Last Stored Character: <button type="button" class="btn btn-default" ng-click="fillInCharacter()">{{storedCharacter.name}}</button>
    </div>-->
    <!--<div class="clearfix"></div>-->
</div>
<div class="panel-body">

<wizard template="../app/views/partials/wizard.html" on-finish="saveCharacter()">
    <wz-step title="Race & Class">
        <div class="col-sm-6">
            <fieldset>
                <legend>Race & Class</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Race:</label>
                    <div class="col-sm-8">
                        <div>
                            <a href="" class="btn btn-block" ng-click="openRaceDialog()"
                               ng-class="character.raceObj.name ? 'btn-primary' : 'btn-default'">
                                <span ng-if="!character.raceObj.name">Select a Race</span>
                                {{character.raceObj.name}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Background:</label>
                    <div class="col-sm-8">
                        <div>
                            <a href="" class="btn btn-block" ng-click="openBackgroundDialog()"
                               ng-class="character.background.name ? 'btn-primary' : 'btn-default'">
                                <span ng-if="!character.background.name">Select a Background</span>
                                {{character.background.name}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="character.raceObj.bonusAbilities">
                    <label class="col-sm-4 control-label">Bonus Abilities:</label>
                    <div class="col-sm-8">
                        <div>
                            <a href="" class="btn btn-block" ng-click="openBonusAbilityDialog()"
                               ng-class="selectedBonusAbilities.length ? 'btn-primary' : 'btn-default'"
                               bonus-ability
                               ng-model="selectedBonusAbilities"
                               max="2">
                                <span ng-if="selectedBonusAbilities.length == 0">Select your bonus abilities</span>
                                <span ng-if="selectedBonusAbilities.length > 0">{{selectedBonusAbilities.length}} bonus abilities selected</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Class:</label>
                    <div class="col-sm-8">
                        <div>
                            <a href="" class="btn btn-block" ng-click="openClassDialog()"
                               ng-class="character.classObj.name ? 'btn-primary' : 'btn-default'">
                                <span ng-if="!character.classObj.name">Select a Class</span>
                                {{character.classObj.name}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="character.classObj.subclasses.length > 0 || character.classObj.subclassObj">
                    <label class="col-sm-4 control-label">{{character.classObj.subclassName}}:</label>
                    <div class="col-sm-8">
                        <div>
                            <a href="" class="btn btn-block" ng-click="openSubclassDialog()"
                               ng-class="character.classObj.subclassObj.name ? 'btn-primary' : 'btn-default'">
                                <span ng-if="!character.classObj.subclassObj.name">Select a {{character.classObj.subclassName}}</span>
                                {{character.classObj.subclassObj.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
                <legend>Abilities</legend>
                <ability-table character="character" pointsleft="{{character.ability.pointsLeft}}"></ability-table>
            </fieldset>
        </div>
        <div class="pagination pull-right">
            <button type="button" wz-next class="btn btn-primary" ng-disabled="!validateStep1()">Next</button>
        </div>
    </wz-step>
    <wz-step title="Skills"> <!-- canenter="enterValidation"-->
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Skills</legend>
                    <label>Passive Perception:</label> {{character.passivePerception}}
                    <div ng-show="character.numSkillsLeft >= 0">{{character.numSkillsLeft + character.raceObj.numSkillChoices - character.bonusSkills.length}} Skills Left</div>
                    <skills></skills>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset ng-show="character.classObj.name && (character.numToolChoices > 0 || character.numLanguages > 0)">
                    <legend>Proficiencies</legend>
                    <div> <!-- collapse="!character.classObj.name"-->
                        <div class="form-group" ng-show="character.numToolChoices > 0">
                            <label class="col-sm-4 control-label">Tools:</label>
                            <div class="col-sm-8">
                                <a href="" class="btn btn-block" ng-click="openToolDialog()"
                                   ng-class="character.selectedTools.length ? 'btn-primary' : 'btn-default'"
                                   tools
                                   ng-model="character.selectedTools"
                                   max="{{character.numToolChoices}}">
                                    <span ng-if="character.selectedTools.length == 0">Select your tool(s)</span>
                                    <span ng-if="character.selectedTools.length == 1">{{character.selectedTools[0].name}}</span>
                                    <span ng-if="character.selectedTools.length > 1">{{character.selectedTools.length}} tools selected</span>
                                </a>
                            </div>
                        </div>
                        <div class="form-group" ng-show="character.numLanguages > 0">
                            <label class="col-sm-4 control-label">Languages:</label>
                            <div class="col-sm-8">
                                <a href="" class="btn btn-block" ng-click="openLanguageDialog()"
                                   ng-class="character.selectedLanguages.length ? 'btn-primary' : 'btn-default'"
                                   ng-model="character.selectedLanguages"
                                   languages="character.numLanguages"
                                   bonus-languages="character.classObj.bonusLanguages"
                                   max="{{select2Languages}}">
                                    <span ng-if="character.selectedLanguages.length == 0">Select your language(s)</span>
                                    <span ng-if="character.selectedLanguages.length == 1">{{character.selectedLanguages[0].name}}</span>
                                    <span ng-if="character.selectedLanguages.length > 1">{{character.selectedLanguages.length}} languages selected</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="pagination pull-right">
            <button type="button" wz-previous class="btn btn-default">Back</button>
            <button type="button" wz-next class="btn btn-primary" ng-disabled="!validateStep2()">Next</button>
        </div>
    </wz-step>
    <wz-step title="Features">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Features</legend>
                    <!--<div class="form-group" ng-show="character.numFeats > 0">
                        <label class="col-sm-4 control-label">Feats:</label>
                        <div class="col-sm-8">
                            <ui-select multiple ng-model="character.selectedFeats"
                                       feats
                                       max="{{character.numFeats}}"
                                       theme="select2"
                                       style="width: 100%;">
                                <ui-select-match placeholder="Select your feat(s)">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="feat in featsData | filter: {name: $select.search} | filterFeats: character">
                                    <div ng-bind-html="feat.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>-->
                    <div class="form-group" ng-if="character.classObj.expertise">
                        <label class="col-sm-4 control-label">{{character.classObj.expertise.label}}:</label>
                        <div class="col-sm-8">
                            <div ng-if="character.classObj.expertise.numExpertise > 0">
                                <a href="" class="btn btn-block" ng-click="openExpertiseDialog()"
                                   ng-class="selectedExpertise.length ? 'btn-primary' : 'btn-default'"
                                   expertise
                                   ng-model="selectedExpertise"
                                   max="{{character.classObj.expertise.numExpertise}}">
                                    <span ng-if="selectedExpertise.length == 0">Select your expert proficiencies</span>
                                    <span ng-if="selectedExpertise.length == 1">{{selectedExpertise[0].name}}</span>
                                    <span ng-if="selectedExpertise.length > 1">{{selectedExpertise.length}} proficiencies selected</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- for Class-based feature choices (ex: Fighting Style, Metamagic) -->
                    <div class="form-group" ng-repeat="selectedFeature in character.classObj.selectedFeatures">
                        <label class="col-sm-4 control-label">{{selectedFeature.label}}:</label> <!--Feature:</label>-->
                        <div class="col-sm-8">
                            <div>
                                <a href="" class="btn btn-block" ng-click="openFeatureDialog(selectedFeature, 'classArr')"
                                   ng-class="selectedFeature.name.length ? 'btn-primary' : 'btn-default'">
                                    <span ng-if="!selectedFeature.name.length">Select {{selectedFeature.label}}</span>
                                    <span ng-if="selectedFeature.name.length == 1">{{selectedFeature.name[0].name}}</span>
                                    <span ng-if="selectedFeature.name.length > 1">{{selectedFeature.name.length}} features selected</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- for subclass feature choices (ex: Totem Aspect, Combat Superiority, etc.) -->
                    <div class="form-group" ng-repeat="selectedFeature in character.classObj.subclassObj.selectedFeatures">
                        <label class="col-sm-4 control-label">{{selectedFeature.label}}:</label> <!--Feature:</label>-->
                        <div class="col-sm-8">
                            <div>
                                <a href="" class="btn btn-block" ng-click="openFeatureDialog(selectedFeature, 'subclassArr')"
                                   ng-class="selectedFeature.name.length ? 'btn-primary' : 'btn-default'">
                                    <span ng-if="!selectedFeature.name.length">Select {{selectedFeature.label}}</span>
                                    <span ng-if="selectedFeature.name.length == 1">{{selectedFeature.name[0].name}}</span>
                                    <span ng-if="selectedFeature.name.length > 1">{{selectedFeature.name.length}} features selected</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div ng-show="character.numFeats > 0">
                        <legend>Abilities</legend>
                        <ability-table character="character" pointsleft="{{character.ability.bonusPoints}}"
                                       bonus="true" class="pull-right"></ability-table>
                    </div>
                </fieldset>
            </div> <!-- .col-sm-6 -->
            <div class="col-sm-6">
                <fieldset>
                    <legend>Spells</legend>
                    <div class="form-group" ng-if="character.raceObj.spellcasting.classId">
                        <label class="col-sm-4 control-label">Bonus Cantrip:</label>
                        <div class="col-sm-8">
                            <spell-dialog ng-model="character.raceObj.cantrip" list="bonusRaceCantrips" placeholder="cantrip(s)"
                                          select2-spellcasting="character.raceObj.spellcasting"
                                          other-spell="character.classObj.selectedCantrips"></spell-dialog>
                        </div>
                    </div>

                    <div class="form-group" ng-show="character.classObj.cantrip">
                        <label class="col-sm-4 control-label">Cantrips:</label>
                        <div class="col-sm-8">
                            <div>
                                <spell-dialog ng-model="character.classObj.selectedCantrips" list="classCantrips" placeholder="cantrip(s)"
                                              select2-spellcasting="character.classObj.cantrip"
                                              other-spell="character.raceObj.cantrip"></spell-dialog>
                            </div>
                        </div>
                    </div>
                    <!-- subclass cantrips -->
                    <div class="form-group" ng-show="character.classObj.subclassObj.cantrips">
                        <label class="col-sm-4 control-label">Cantrips:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <!--<label class="input-group-addon btn btn-default" ng-click="openSubclassCantripDialog()">
                                    <span class="fa fa-columns"></span>
                                </label>
                                <select ui-select2 ng-model="character.classObj.selectedCantrips" id="chosenSubclassCantrips" multiple max="{{character.classObj.numCantrips}}" style="width: 100%" ng-change="broadcastNonObj(character.classObj.selectedCantrips, 'selectedCantrips')">
                                    <option ng-repeat="cantrip in character.classObj.subclassObj.cantrips">{{cantrip.name}}</option>
                                </select>-->
                                <!--<spell-dialog spell-obj="character.classObj.spellcasting" ng-model="character.classObj.selectedCantrips"></spell-dialog>
                                <ui-select ng-model="character.classObj.selectedCantrips"
                                           multiple
                                           list="classSpells"
                                           max="{{character.classObj.numCantrips}}"
                                           select2-spellcasting="character.classObj.spellcasting"
                                           bonus="bonusSelectedSpells"
                                           theme="select2"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Pick your spells">{{$item.name}}</ui-select-match>
                                    <ui-select-choices group-by="'level_desc'"
                                                       repeat="spell in classSpells track by $index"
                                                       refresh="refreshSpells($select.search)"
                                                       refresh-delay="500">
                                        <div ng-bind-html="spell.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="character.classObj.spellcasting.numSpellsKnown">
                        <label class="col-sm-4 control-label">Spells:</label>
                        <div class="col-sm-8">
                            <div>
                                <spell-dialog ng-model="character.classObj.selectedSpells" list="classSpells"
                                              select2-spellcasting="character.classObj.spellcasting"
                                              other-spell="character.classObj.spellcasting.bonusSelectedSpells"></spell-dialog>
                            </div>
                        </div>
                    </div>
                    <!-- commented out until i figure out how to deal with it -->
                    <div class="form-group" ng-show="character.classObj.spellcasting.bonus.numSpellsKnown">
                        <label class="col-sm-4 control-label">Bonus Spells:</label>
                        <div class="col-sm-8">
                            <div>
                                <spell-dialog ng-model="character.classObj.bonusSelectedSpells" list="classBonusSpells"
                                              select2-spellcasting="character.classObj.spellcasting.bonus"
                                              other-spell="character.classObj.selectedSpells"></spell-dialog>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div> <!-- .col-sm-6 -->
        </div> <!-- .row -->
        <div class="pagination pull-right">
            <button type="button" wz-previous class="btn btn-default">Back</button>
            <button type="button" wz-next class="btn btn-primary">Next</button>
        </div>
    </wz-step>
    <wz-step title="Details">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Describe Your Character</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="character.name"> <!--placeholder="Pick a Name..."-->
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="pagination pull-right">
            <button type="button" wz-previous class="btn btn-default">Back</button>
            <button type="submit" class="btn btn-primary" ng-disabled="!validateStep4()">Save Character</button> <!--ng-disabled="charGenForm.$invalid"-->
        </div>
    </wz-step>
</wizard>

</div> <!-- panel-body -->
<div class="panel-footer">
    <form name="charGenForm" ng-submit="saveCharacter()" novalidate>
        <input type="hidden" id="inputName" name="charName" ng-model="character.name" required />
        <input type="hidden" id="inputRace" name="raceName" ng-model="character.raceObj.name" required />
        <input type="hidden" id="inputClass" name="className" ng-model="character.classObj.name" required />
        <input type="hidden" id="inputSubclass" name="subclassName" ng-model="character.classObj.subclassObj.name" ng-required="character.classObj.subclasses.length > 0" />
        <!--<input type="hidden" id="inputFeature" name="featureName" ng-model="selectedFeature.name" ng-required="featureChoices.length > 0" />-->
        <input type="hidden" id="inputBackground" name="backgroundName" ng-model="character.background.name" required />
        <input type="hidden" id="inputLanguage" name="languageName" ng-model="numLanguagesLeft" is-empty />
        <input type="hidden" id="inputSkills" name="skillsName" ng-model="character.numSkillsLeft" is-empty />
        <input type="hidden" id="inputAbPts" name="abPtsLeftName" ng-model="character.ability.pointsLeft" is-empty />
        <!--<input type="text" id="inputAlignment" ng-model="character.alignment" />-->
        <!--<button class="btn btn-primary" ng-click="saveCharacter()" ng-disabled="charGenForm.$invalid">Save Character</button>-->
        <button type="button" class="btn btn-default" ng-click="openSummary()" ng-if="!isMobile">Open Summary</button>
        <div class="error-container" ng-show="validating && charGenForm.$invalid">
            <div><small class="text-danger" ng-show="charGenForm.charName.$error.required">Please name your character</small></div>
            <div><small class="text-danger" ng-show="charGenForm.raceName.$error.required">Please choose a race</small></div>
            <div><small class="text-danger" ng-show="charGenForm.backgroundName.$error.required">Please choose a background</small></div>
            <div><small class="text-danger" ng-show="charGenForm.languageName.$error.notEmpty">You need to choose your languages</small></div>
            <div><small class="text-danger" ng-show="charGenForm.className.$error.required">Please choose a class</small></div>
            <div><small class="text-danger" ng-show="charGenForm.subclassName.$error.required">Please choose a subclass</small></div>
            <!--<div><small class="text-danger" ng-show="charGenForm.featureName.$error.required">You need to choose a feature for your class</small></div>-->
            <div><small class="text-danger" ng-show="charGenForm.skillsName.$error.notEmpty">Please select your skills</small></div>
            <div><small class="text-danger" ng-show="charGenForm.abPtsLeftName.$error.notEmpty">Please assign your ability scores</small></div>
        </div>
    </form>
</div>
</div> <!-- panel -->
<script type="text/ng-template" id="progressBar.html">
    <!--<div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">-->
    <div class="modal-header">
        <h4 class="modal-title">Processing...</h4>
    </div>
    <div class="modal-body">
        <progressbar class="progress-striped active" animate="false" value="progress"></progressbar>
    </div>
    <!--</div>-->
</script>
</div> <!-- ng-app -->