@media (min-width: 768px) {

    .modal-body {
        max-height: 400px;
        overflow: hidden;
    }

    .modal-sm .modal-body {
        height: auto;
    }

    .modal-body [class*=col-] {
        max-height: 340px;
        overflow-y: auto;
    }
}

.body {
    padding-top: 40px; /* height of header */
}

textarea {
    resize: vertical; /* user can resize vertically, but width is fixed */
}

.modal .desc-col {
    display: block !important;
}

.relative {
    position: relative;
    z-index: 2;
}

.item-options {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.popover-lg {
    min-width: 400px;
}

input.ng-invalid, .ng-dirty input.ng-invalid {
    border-color: #ddd;
}

.form-group {
    margin-bottom: 0;
}

.list-group.two-col .list-group-item {
    width: 50%;
    float: left;
}

/* overwrites bootstrap style */
.pagination li.disabled {
    pointer-events: none;
}

.section-footer {
    text-align: right;
}

.modal-header .btn-link {
    display: inline;
}

.no-margin {
    margin: 0;
}

.align-center {
    text-align: center;
}