@media (min-width: 992px) {

    .modal .desc-col {
        display: block !important;
    }

    .modal-body {
        max-height: 400px;
        overflow: hidden;
    }

    .modal-sm .modal-body {
        height: auto;
    }

    .modal-body [class*=col-md] {
        max-height: 340px;
        overflow-y: auto;
    }

    /*.modal-body .nav.nav-tabs + .tab-content [class*=col-md] {
        max-height: 340px;
    }*/
}

.popover-lg {
    min-width: 400px;
}

input.ng-invalid, .ng-dirty input.ng-invalid {
    border-color: #ddd;
}

.form-group {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    /*** custom checkboxes ***/

    input[type=checkbox] { display:none; } /* to hide the checkbox itself */
    .list-group label.list-group-item:before {
        font-family: FontAwesome;
        display: inline-block;
        font-size: 1.5em;
    }

    .list-group label.list-group-item:before { content: "\f10c"; } /* unchecked icon */
    .list-group label.list-group-item:before { letter-spacing: 10px; } /* space between checkbox and label */

    .list-group label.list-group-item.active:before { content: "\f058"; } /* checked icon */
    .list-group label.list-group-item.active:before { letter-spacing: 7px; } /* allow space for check mark */

    .list-group label.list-group-item.active.disabled { opacity: 0.65; }
}
