<alert ng-if="flash" type="success" close="closeAlert($index)">{{flash}}</alert>
<h3>Your Characters</h3>
<table ng-table="tableParams" class="table">
    <tr ng-repeat="character in $data">
        <td data-title="'Name'"><a ui-sref="character({characterId: character.id})">{{character.name}}</a></td>
        <td data-title="'Date Added'">{{character.date_added}}</td>
        <td data-title="'Level'">{{character.level}}</td>
        <td data-title="'Race'">{{character.race}}</td>
        <td data-title="'Class'">{{character.class}}</td>
        <td data-title="'Action'">
            <button class="btn btn-default" type="button" ng-click="removeCharacter(character)"><i class="fa fa-trash-o"></i></button>
        </td>
    </tr>
</table>
<a class="btn btn-primary" href="/"><i class="fa fa-plus"></i> New Character</a>