<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>{{max - tempFeatures.length}} Features Left:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="list-group">
                <a href="" class="list-group-item" ng-repeat="value in values" ng-class="{'active': value.active}" ng-click="showDescription(this)">
                    {{value.name}}
                </a>
            </div>
        </div>
        <div class="col-md-7 desc-col">
            <h4>{{featureType}}</h4>
            <dl>
                <dt>{{selectedFeature.name}}</dt>
                <dd ng-bind-html="selectedFeature.description"></dd>
            </dl>
        </div> <!-- end span -->
    </div>
</div>
<div class="modal-footer">
    <button ng-click="done()" class="btn btn-primary" ng-disabled="disabled">Done</button>
    <button ng-click="close()" class="btn btn-default">Cancel</button>
</div>