<div class="modal-header">
    <button type="button" ng-click="showInfo(false)" ng-show="isInfoExpanded" class="pull-left btn-link">
        <i class="fa fa-chevron-left"></i> Back
    </button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <p ng-show="!isInfoExpanded" class="col-xs-12 help-block">{{max - tempItems.length}} {{featureType}} Left:</p>
    <div class="row">
        <div class="col-sm-5" ng-show="!isInfoExpanded">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search..." />
            <div class="list-group">
                <div ng-repeat="item in items | filter: {name: searchText}" class="relative">
                    <a ng-click="showDescription(this)" class="list-group-item relative"
                        ng-class="{'active': item.active}" href="" drag-to-reveal> <!--ng-swipe-left="showInfo(this)"-->
                        {{item.name}}
                    </a>
                    <a class="list-group-item list-group-item-info item-options invisible" ng-click="showInfo(this)">View</a>
                </div>
            </div>
        </div>	<!-- end span -->
        <div class="col-sm-7 desc-col" ng-show="isInfoExpanded">
            <h4>{{featureType}}</h4>
            <dl>
                <dt>{{selectedItem.name}}</dt>
                <dd ng-bind-html="selectedItem.description"></dd>
            </dl>
        </div> <!-- end span -->
    </div>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-default">Cancel</button>
    <button ng-click="done()" ng-disabled="disabled" class="btn btn-primary">Done</button>
</div>