<!--<div id="info_contents">-->
<!--<?php $is_logged_in = ($logged_in) ? 'true' : 'false'; ?>-->

<div id="charGenApp" class="form-horizontal" ng-init="init()" ng-cloak>
    <!--<span class="hide">{{isLoggedIn=<?php echo $is_logged_in; ?>}}</span>-->
    <span ng-hide="true">Loading Character Generator...</span>
    <div id="successMsg" class="alert alert-success" ng-show="successMessage">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{successMessage}}</p>
    </div>
    <div class="alert alert-danger" ng-show="errorMessage">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div ng-bind-html="errorMessage"></div>
    </div>
    <div class="row panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Character Generator</h1>
        <!--<div class="pull-right">
            <button class="btn btn-primary" ng-click="openNewCharDialog()">Create New Character</button>
        </div>
        <div class="pull-right" ng-show="storedCharacter">
            Last Stored Character: <button type="button" class="btn btn-default" ng-click="fillInCharacter()">{{storedCharacter.name}}</button>
        </div>-->
        <!--<div class="clearfix"></div>-->
    </div>
    <div class="panel-body">

    <wizard template="app/views/partials/wizard.html" on-finish="saveCharacter()"> <!-- on-finish="finishedWizard()"-->
        <wz-step title="Race & Class">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Race & Class</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Race:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="input-group-addon btn btn-default" ng-click="openRaceDialog()">
                                    <span class="fa fa-columns"></span>
                                </label>
                                <ui-select ng-model="character.raceObj"
                                           ng-change="broadcastObj(raceData, character.raceObj.name, 'race')"
                                           theme="select2"
                                           reset-search-input="false"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Select a race">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="race in raceData | filter: {name: $select.search}">
                                        <div ng-bind-html="race.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Background:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="input-group-addon btn btn-default" ng-click="openBackgroundDialog()">
                                    <span class="fa fa-columns"></span>
                                </label>
                                <ui-select ng-model="character.background"
                                           ng-change="broadcastObj(backgroundData, character.background.name, 'background')"
                                           theme="select2"
                                           reset-search-input="false"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Select a background">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="background in backgroundData | filter: {name: $select.search}">
                                        <div ng-bind-html="background.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="character.raceObj.bonusAbilities">
                        <label class="col-sm-4 control-label">Bonus Abilities:</label>
                        <div class="col-sm-8">
                            <ui-select id="bonusRaceAbilities"
                                       multiple
                                       max="2"
                                       ng-model="selectedBonusAbilities"
                                       bonus-ability
                                       theme="select2"
                                       style="width: 100%;">
                                <ui-select-match placeholder="Pick your bonus abilities">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="ability in character.raceObj.bonusAbilities | filter: {name: $select.search}">
                                    <div ng-bind-html="ability.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-4 control-label">Level:</label>
                        <div class="col-sm-8">
                            <ui-select ng-model="character.level"
                                       ng-change="changeLevel(character.level)"
                                       theme="select2"
                                       search-enabled="false"
                                       reset-search-input="false"
                                       style="width: 100%;">
                                <ui-select-match placeholder="Select a level">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="level in levels | filter: $select.search">
                                    <div ng-bind-html="level | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Class:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="input-group-addon btn btn-default" ng-click="openClassDialog()">
                                    <span class="fa fa-columns"></span>
                                </label>
                                <ui-select ng-model="character.classObj"
                                           ng-change="broadcastObj(classData, character.classObj.name, 'clazz')"
                                           theme="select2"
                                           reset-search-input="false"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Select a class">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="class in classData | filter: {name: $select.search}">
                                        <div ng-bind-html="class.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="character.classObj.subclasses.length > 0 || character.classObj.subclassObj">
                        <label class="col-sm-4 control-label">{{character.classObj.subclassName}}:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="input-group-addon btn btn-default" ng-click="openSubclassDialog()">
                                    <span class="fa fa-columns"></span>
                                </label>
                                <ui-select ng-model="character.classObj.subclassObj"
                                           ng-change="broadcastObj(character.classObj.subclasses, character.classObj.subclassObj.name, 'subclass')"
                                           theme="select2"
                                           reset-search-input="false"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Select a subclass">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="subclassObj in character.classObj.subclasses | filter: {name: $select.search}">
                                        <div ng-bind-html="subclassObj.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Abilities</legend>
                    <ability-table character="character" pointsleft="{{character.ability.pointsLeft}}"></ability-table>
                </fieldset>
            </div>
            <div class="pagination pull-right">
                <button type="button" wz-next class="btn btn-primary" ng-disabled="!validateStep1()">Next</button>
            </div>
        </wz-step>
        <wz-step title="Skills & Proficiencies"> <!-- canenter="enterValidation"-->
            <div class="row">
                <div class="col-sm-6">
                    <fieldset>
                        <legend>Skills</legend>
                        <label>Passive Perception:</label> {{character.passivePerception}}
                        <div ng-show="character.numSkillsLeft >= 0">{{character.numSkillsLeft + character.raceObj.numSkillChoices - character.bonusSkills.length}} Skills Left</div>
                        <skills></skills>
                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset ng-show="character.classObj.name && (character.numToolChoices > 0 || character.numLanguages > 0)">
                        <legend>Proficiencies</legend>
                        <div> <!-- collapse="!character.classObj.name"-->
                            <div class="form-group" ng-show="character.numToolChoices > 0">
                                <label class="col-sm-4 control-label">Tools:</label>
                                <div class="col-sm-8">
                                    <ui-select multiple ng-model="character.selectedTools"
                                               tools
                                               max="{{character.numToolChoices}}"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Select your tools(s)">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="tool in availableTools | filter: {name: $select.search} | filterTools: character">
                                            <div ng-bind-html="tool.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="character.numLanguages > 0">
                                <label class="col-sm-4 control-label">Languages:</label>
                                <div class="col-sm-8">
                                    <ui-select multiple ng-model="character.selectedLanguages"
                                               languages="character.numLanguages"
                                               bonus-languages="character.classObj.bonusLanguages"
                                               max="{{select2Languages}}"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Select your language(s)">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="language in availableLanguages | filter: {name: $select.search}">
                                            <div ng-bind-html="language.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="pagination pull-right">
                <button type="button" wz-previous class="btn btn-default">Back</button>
                <button type="button" wz-next class="btn btn-primary" ng-disabled="!validateStep2()">Next</button>
            </div>
        </wz-step>
        <wz-step title="Features & Spells">
            <div class="row">
                <div class="col-sm-6">
                    <fieldset>
                        <legend>Features</legend>
                        <!--<div class="form-group" ng-show="character.numFeats > 0">
                            <label class="col-sm-4 control-label">Feats:</label>
                            <div class="col-sm-8">
                                <ui-select multiple ng-model="character.selectedFeats"
                                           feats
                                           max="{{character.numFeats}}"
                                           theme="select2"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Select your feat(s)">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="feat in featsData | filter: {name: $select.search} | filterFeats: character">
                                        <div ng-bind-html="feat.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>-->
                        <div class="form-group" ng-if="character.classObj.expertise">
                            <label class="col-sm-4 control-label">{{character.classObj.expertise.label}}:</label>
                            <div class="col-sm-8">
                                <!--character.classObj.expertise.selectedExpertise-->
                                <ui-select multiple ng-model="selectedExpertise"
                                           expertise
                                           max="{{character.classObj.expertise.numExpertise}}"
                                           theme="select2"
                                           style="width: 100%;">
                                    <ui-select-match placeholder="Select your expertise">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="expertise in character.classObj.expertise.list | orderBy: 'name' | filter: $select.search">
                                        <div ng-bind-html="expertise.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <!-- for Class-based feature choices (ex: Fighting Style, Metamagic) -->
                        <div class="form-group" ng-repeat="selectedFeature in character.classObj.selectedFeatures">
                            <label class="col-sm-4 control-label">{{selectedFeature.label}}:</label> <!--Feature:</label>-->
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <label class="input-group-addon btn btn-default" ng-click="openFeatureDialog(selectedFeature, 'classArr')">
                                        <span class="fa fa-columns"></span>
                                    </label>
                                    <ui-select multiple ng-model="selectedFeature.name"
                                               max="{{selectedFeature.max}}"
                                               ng-change="broadcastArray(selectedFeature, 'selectedFeatures', 'classArr')"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Select a feature">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="feature in selectedFeature.choices | filter: {name: $select.search}">
                                            <div ng-bind-html="feature.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <!-- for subclass feature choices (ex: Totem Aspect, Combat Superiority, etc.) -->
                        <div class="form-group" ng-repeat="selectedFeature in character.classObj.subclassObj.selectedFeatures">
                            <label class="col-sm-4 control-label">{{selectedFeature.label}}:</label> <!--Feature:</label>-->
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <label class="input-group-addon btn btn-default" ng-click="openFeatureDialog(selectedFeature, 'subclassArr')">
                                        <span class="fa fa-columns"></span>
                                    </label>
                                    <ui-select multiple ng-model="selectedFeature.name"
                                               max="{{selectedFeature.max}}"
                                               ng-change="broadcastArray(selectedFeature, 'selectedFeatures', 'subclassArr')"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Select a feature">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="feature in selectedFeature.choices">
                                            <div ng-bind-html="feature.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div ng-show="character.numFeats > 0">
                            <legend>Abilities</legend>
                            <ability-table character="character" pointsleft="{{character.ability.bonusPoints}}"
                                           bonus="true" class="pull-right"></ability-table>
                        </div>
                    </fieldset>
                </div> <!-- .col-sm-6 -->
                <div class="col-sm-6">
                    <fieldset>
                        <legend>Spells</legend>
                        <div class="form-group" ng-if="character.raceObj.spellcasting.classId">
                            <label class="col-sm-4 control-label">Bonus Cantrip:</label>
                            <div class="col-sm-8">
                                <div class="input-group" spell-dialog ng-model="character.raceObj.cantrip" list="bonusRaceCantrips"
                                     other-spell="character.classObj.selectedCantrips"
                                     select2-spellcasting="character.raceObj.spellcasting">
                                    <ui-select id="bonusRaceCantrip"
                                               multiple
                                               max="1"
                                               ng-model="character.raceObj.cantrip"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Pick your bonus cantrip">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="cantrip in $parent.bonusRaceCantripsFiltered = (bonusRaceCantrips | filterSpells: character.classObj.selectedCantrips)
                                                                | filter: {name: $select.search} | filterSpells: character.classObj.selectedCantrips"
                                                           refresh="refreshSpells($select.search)"
                                                           refresh-delay="500">
                                            <div ng-bind-html="cantrip.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-show="character.classObj.cantrip">
                            <label class="col-sm-4 control-label">Cantrips:</label>
                            <div class="col-sm-8">
                                <div class="input-group" spell-dialog ng-model="character.classObj.selectedCantrips" list="classCantrips"
                                     other-spell="character.raceObj.cantrip"
                                     select2-spellcasting="character.classObj.cantrip">
                                    <ui-select ng-model="character.classObj.selectedCantrips"
                                               multiple
                                               max="{{character.classObj.cantrip.numSpellsKnown}}"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Select your cantrips" ui-lock-choice="$item.disabled">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="cantrip in $parent.classCantripsFiltered = (classCantrips | filterSpells: character.raceObj.cantrip)
                                                            | filter: {name: $select.search} | filterSpells: character.raceObj.cantrip"
                                                           refresh="refreshSpells($select.search)"
                                                           refresh-delay="500">
                                            <div ng-bind-html="cantrip.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <!-- subclass cantrips -->
                        <div class="form-group" ng-show="character.classObj.subclassObj.cantrips">
                            <label class="col-sm-4 control-label">Cantrips:</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <!--<label class="input-group-addon btn btn-default" ng-click="openSubclassCantripDialog()">
                                        <span class="fa fa-columns"></span>
                                    </label>
                                    <select ui-select2 ng-model="character.classObj.selectedCantrips" id="chosenSubclassCantrips" multiple max="{{character.classObj.numCantrips}}" style="width: 100%" ng-change="broadcastNonObj(character.classObj.selectedCantrips, 'selectedCantrips')">
                                        <option ng-repeat="cantrip in character.classObj.subclassObj.cantrips">{{cantrip.name}}</option>
                                    </select>-->
                                    <!--<spell-dialog spell-obj="character.classObj.spellcasting" ng-model="character.classObj.selectedCantrips"></spell-dialog>
                                    <ui-select ng-model="character.classObj.selectedCantrips"
                                               multiple
                                               list="classSpells"
                                               max="{{character.classObj.numCantrips}}"
                                               select2-spellcasting="character.classObj.spellcasting"
                                               bonus="bonusSelectedSpells"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Pick your spells">{{$item.name}}</ui-select-match>
                                        <ui-select-choices group-by="'level_desc'"
                                                           repeat="spell in classSpells track by $index"
                                                           refresh="refreshSpells($select.search)"
                                                           refresh-delay="500">
                                            <div ng-bind-html="spell.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="character.classObj.spellcasting.numSpellsKnown">
                            <label class="col-sm-4 control-label">Spells:</label>
                            <div class="col-sm-8">
                                <div class="input-group" spell-dialog ng-model="character.classObj.selectedSpells" list="classSpells"
                                     select2-spellcasting="character.classObj.spellcasting">
                                    <ui-select ng-model="character.classObj.selectedSpells"
                                               multiple
                                               max="{{character.classObj.spellcasting.numSpellsKnown}}"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Select your spells">{{$item.name}}</ui-select-match>
                                        <ui-select-choices group-by="'level_desc'"
                                                           repeat="spell in $parent.classSpellsFiltered = (classSpells | filterSpells: character.classObj.spellcasting.bonusSelectedSpells)
                                                                | filter: {name: $select.search} | filterSpells: character.classObj.spellcasting.bonusSelectedSpells"
                                                           refresh="refreshSpells($select.search)"
                                                           refresh-delay="500">
                                            <div ng-bind-html="spell.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select></spell-dialog>
                                </div>
                            </div>
                        </div>
                        <!-- commented out until i figure out how to deal with it -->
                        <div class="form-group" ng-show="character.classObj.spellcasting.bonus.numSpellsKnown">
                            <label class="col-sm-4 control-label">Bonus Spells:</label>
                            <div class="col-sm-8">
                                <div class="input-group" spell-dialog
                                        ng-model="character.classObj.bonusSelectedSpells" list="classBonusSpells"
                                        select2-spellcasting="character.classObj.spellcasting.bonus">
                                    <ui-select ng-model="character.classObj.bonusSelectedSpells"
                                               multiple
                                               max="{{character.classObj.spellcasting.numSpellsKnown}}"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Select your spells">{{$item.name}}</ui-select-match>
                                        <ui-select-choices group-by="'level_desc'"
                                                           repeat="spell in $parent.classBonusSpellsFiltered = (classBonusSpells | filterSpells: character.classObj.selectedSpells)
                                                            | filter: {name: $select.search} | filterSpells: character.classObj.selectedSpells"
                                                           refresh="refreshSpells($select.search)"
                                                           refresh-delay="500">
                                            <div ng-bind-html="spell.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- .col-sm-6 -->
            </div>
            <div class="pagination pull-right">
                <button type="button" wz-previous class="btn btn-default">Back</button>
                <button type="button" wz-next class="btn btn-primary">Next</button>
            </div>
        </wz-step>
        <wz-step title="Details">
            <div class="row">
                <div class="col-sm-6">
                    <fieldset>
                        <legend>Describe Your Character</legend>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="character.name"> <!--placeholder="Pick a Name..."-->
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <div class="pagination pull-right">
                <button type="button" wz-previous class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-primary" ng-disabled="!validateStep4()" wz-finish>Save Character</button> <!--ng-disabled="charGenForm.$invalid"-->
            </div>
        </wz-step>
    </wizard>

    </div> <!-- panel-body -->
    <div class="panel-footer">
        <form name="charGenForm" ng-submit="saveCharacter()" novalidate>
            <input type="hidden" id="inputName" name="charName" ng-model="character.name" required />
            <input type="hidden" id="inputRace" name="raceName" ng-model="character.raceObj.name" required />
            <input type="hidden" id="inputClass" name="className" ng-model="character.classObj.name" required />
            <input type="hidden" id="inputSubclass" name="subclassName" ng-model="character.classObj.subclassObj.name" ng-required="character.classObj.subclasses.length > 0" />
            <!--<input type="hidden" id="inputFeature" name="featureName" ng-model="selectedFeature.name" ng-required="featureChoices.length > 0" />-->
            <input type="hidden" id="inputBackground" name="backgroundName" ng-model="character.background.name" required />
            <input type="hidden" id="inputLanguage" name="languageName" ng-model="numLanguagesLeft" is-empty />
            <input type="hidden" id="inputSkills" name="skillsName" ng-model="character.numSkillsLeft" is-empty />
            <input type="hidden" id="inputAbPts" name="abPtsLeftName" ng-model="character.ability.pointsLeft" is-empty />
            <!--<input type="text" id="inputAlignment" ng-model="character.alignment" />-->
            <!--<button class="btn btn-primary" ng-click="saveCharacter()" ng-disabled="charGenForm.$invalid">Save Character</button>-->
            <button type="button" class="btn btn-default" ng-click="openSummary()" ng-if="!isMobile">Open Summary</button>
            <div class="error-container" ng-show="validating && charGenForm.$invalid">
                <div><small class="text-danger" ng-show="charGenForm.charName.$error.required">Please name your character</small></div>
                <div><small class="text-danger" ng-show="charGenForm.raceName.$error.required">Please choose a race</small></div>
                <div><small class="text-danger" ng-show="charGenForm.backgroundName.$error.required">Please choose a background</small></div>
                <div><small class="text-danger" ng-show="charGenForm.languageName.$error.notEmpty">You need to choose your languages</small></div>
                <div><small class="text-danger" ng-show="charGenForm.className.$error.required">Please choose a class</small></div>
                <div><small class="text-danger" ng-show="charGenForm.subclassName.$error.required">Please choose a subclass</small></div>
                <!--<div><small class="text-danger" ng-show="charGenForm.featureName.$error.required">You need to choose a feature for your class</small></div>-->
                <div><small class="text-danger" ng-show="charGenForm.skillsName.$error.notEmpty">Please select your skills</small></div>
                <div><small class="text-danger" ng-show="charGenForm.abPtsLeftName.$error.notEmpty">Please assign your ability scores</small></div>
            </div>
        </form>
    </div>
    </div> <!-- panel -->
    <script type="text/ng-template" id="progressBar.html">
        <!--<div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">-->
            <div class="modal-header">
                <h4 class="modal-title">Processing...</h4>
            </div>
            <div class="modal-body">
                <progressbar class="progress-striped active" animate="false" value="progress"></progressbar>
            </div>
        <!--</div>-->
    </script>
</div> <!-- ng-app -->