<!--<div id="info_contents">-->
<!--<?php $is_logged_in = ($logged_in) ? 'true' : 'false'; ?>-->

<div id="charGenApp" class="form-horizontal" ng-init="init()" ng-cloak>
    <!--<span class="hide">{{isLoggedIn=<?php echo $is_logged_in; ?>}}</span>-->
    <span ng-hide="true">Loading Character Generator...</span>
    <div id="successMsg" class="alert alert-success" ng-show="successMessage">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{successMessage}}</p>
    </div>
    <div class="alert alert-danger" ng-show="errorMessage">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div ng-bind-html="errorMessage"></div>
    </div>

    <wizard on-finish="saveCharacter()">
    <div class="panel panel-default">
        <div class="panel-body">
            <wz-step wz-title="Race & Class">
                <div class="row loading" ng-hide="hideLoading">
                    <!--Loading... <i class="fa fa-spinner fa-spin"></i>-->
                    <div class="col-sm-12">
                        <progressbar class="progress-striped active" value="progress" type="{{type}}">{{type}} <i ng-show="showWarning">Loading...</i></progressbar>
                    </div>
                </div>
                <div class="row" ng-show="hideLoading">
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Race & Class</legend>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Level:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.level"
                                                  click="openNewCharDialog()" name="character.levelDesc"></select-modal>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Race:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.raceObj" placeholder="Select a Race" data="raceData"
                                            click="openRaceDialog()" name="character.raceObj.name"></select-modal>
                                </div>
                            </div>
                            <div class="form-group" ng-show="character.raceObj.bonusAbilities">
                                <label class="col-sm-4 control-label">Bonus Abilities:</label>
                                <div class="col-sm-8">
                                    <select-modal bonus-ability ng-model="character.selectedBonusAbilities"
                                                  placeholder="Select your Bonus Abilities" data="character.raceObj.bonusAbilities"
                                                  click="openBonusAbilityDialog()" name="character.selectedBonusAbilities"
                                                  multiple max="2" select></select-modal>
                                </div>
                            </div>
                            <!--<div class="form-group" ng-show="character.raceObj.featureChoices">
                                <label class="col-sm-4 control-label">{{character.raceObj.featureChoices.label}}:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.raceObj.selectedFeature"
                                                  placeholder="Select your Feature" data="character.raceObj.featureChoices.list"
                                                  name="character.raceObj.selectedFeature"></select-modal>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Background:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.background" placeholder="Select a Background" data="backgroundData"
                                                  click="openBackgroundDialog()" name="character.background.name"></select-modal>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Class:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.classObj" placeholder="Select a Class" data="classData"
                                                  click="openClassDialog()" name="character.classObj.name"></select-modal>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Abilities</legend>
                            <ability-table character="character" pointsleft="{{character.ability.pointsLeft}}"></ability-table>
                        </fieldset>
                    </div>
                </div> <!-- .row -->
            </wz-step>
            <wz-step wz-title="Skills"> <!-- canenter="enterValidation"-->
                <div class="row">
                    <div class="col-sm-12">
                        <legend>Skills</legend>
                        <label>Passive Perception:</label> {{character.passivePerception}}
                        <div ng-show="character.numSkillsLeft >= 0">{{character.numSkillsLeft + character.raceObj.numSkillChoices - character.bonusSkills.length}} Skills Left</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <skills col="1"></skills>
                    </div>
                    <div class="col-sm-6 reduce-margin-mobile">
                         <skills col="2"></skills>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Features">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Features & Traits</legend>
                            <div class="form-group" ng-show="character.classObj.subclasses.length > 0 || character.classObj.subclassObj">
                                <label class="col-sm-4 control-label">{{character.classObj.subclassName}}:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.classObj.subclassObj" placeholder="Select a Subclass" data="character.classObj.subclasses"
                                                  click="openSubclassDialog()" name="character.classObj.subclassObj.name"></select-modal>
                                </div>
                            </div>
                            <div class="form-group" ng-if="character.classObj.expertise">
                                <label class="col-sm-4 control-label">{{character.classObj.expertise.label}}:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.selectedExpertise" expertise
                                                  placeholder="Select your Expertise" data="character.classObj.expertise.list"
                                                  click="openExpertiseDialog()" name="character.selectedExpertise"
                                                  multiple max="character.classObj.expertise.numExpertise"
                                                  filter="orderBy: 'name'" select></select-modal>
                                </div>
                            </div>
                            <!-- for Class-based feature choices (ex: Fighting Style, Metamagic) -->
                            <div class="form-group" ng-repeat="selectedFeature in character.classObj.selectedFeatures">
                                <label class="col-sm-4 control-label">{{selectedFeature.label}}:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="selectedFeature.name"
                                                  placeholder="Select your Feature(s)" data="selectedFeature.choices"
                                                  click="openFeatureDialog(selectedFeature, character.classObj, $index)" name="selectedFeature.name"
                                                  multiple max="selectedFeature.max"></select-modal>
                                </div>
                            </div>
                            <!-- for subclass feature choices (ex: Totem Aspect, Combat Superiority, etc.) -->
                            <div class="form-group" ng-repeat="selectedFeature in character.classObj.subclassObj.selectedFeatures">
                                <label class="col-sm-4 control-label">{{selectedFeature.label}}:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="selectedFeature.name"
                                                  placeholder="Select your Feature(s)" data="selectedFeature.choices"
                                                  click="openFeatureDialog(selectedFeature, character.classObj.subclassObj, $index)" name="selectedFeature.name"
                                                  multiple max="selectedFeature.max"></select-modal>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset ng-show="character.numFeats > 0">
                            <div>
                                <label>Ability Score Improvement</label>
                                <ability-table character="character" pointsleft="{{character.ability.bonusPoints}}"
                                               bonus="true" class="pull-right"></ability-table>
                            </div>
                        </fieldset>
                        <fieldset class="form-group" ng-show="character.classObj.numFeats > 0">
                            <label class="col-sm-4 control-label">Feats:</label>
                            <div class="col-sm-8">
                                <select-modal ng-model="character.feats" feats
                                              placeholder="Select your Feat(s)"
                                              click="openFeatsDialog(character.classObj.featType)" name="character.feats"
                                              multiple max="character.classObj.numFeats"></select-modal>
                            </div>
                        </fieldset>
                        <fieldset ng-show="character.raceObj.spellcasting || character.classObj.spellcasting">
                            <div class="form-group" ng-if="character.raceObj.spellcasting.classId">
                                <label class="col-sm-4 control-label">Bonus Cantrip:</label>
                                <div class="col-sm-8">
                                    <spell-dialog ng-model="character.raceObj.cantrip" list="bonusRaceCantrips" placeholder="cantrip"
                                                  select2-spellcasting="character.raceObj.spellcasting"
                                                  other-spell="character.classObj.selectedCantrips"></spell-dialog>
                                </div>
                            </div>

                            <div class="form-group" ng-show="character.classObj.cantrip">
                                <label class="col-sm-4 control-label">Cantrips:</label>
                                <div class="col-sm-8">
                                    <spell-dialog ng-model="character.classObj.selectedCantrips" list="classCantrips" placeholder="cantrip(s)"
                                                  select2-spellcasting="character.classObj.cantrip"
                                                  other-spell="character.raceObj.cantrip"></spell-dialog>
                                </div>
                            </div>
                            <!-- subclass cantrips (mainly for nature clerics) -->
                            <div class="form-group" ng-show="character.classObj.subclassObj.cantrips">
                                <label class="col-sm-4 control-label">Cantrips:</label>
                                <div class="col-sm-8">
                                    <!--<spell-dialog ng-model="character.classObj.subclassObj.selectedCantrips" list="classCantrips" placeholder="bonus cantrip"
                                                  select2-spellcasting="character.classObj.cantrip"
                                                  other-spell="character.raceObj.cantrip"></spell-dialog>-->
                                    <!--
                                    <select ui-select2 ng-model="character.classObj.selectedCantrips" id="chosenSubclassCantrips" multiple max="{{character.classObj.numCantrips}}" style="width: 100%" ng-change="broadcastNonObj(character.classObj.selectedCantrips, 'selectedCantrips')">
                                        <option ng-repeat="cantrip in character.classObj.subclassObj.cantrips">{{cantrip.name}}</option>
                                    </select>-->
                                    <!--<spell-dialog spell-obj="character.classObj.spellcasting" ng-model="character.classObj.selectedCantrips"></spell-dialog>
                                    <ui-select ng-model="character.classObj.selectedCantrips"
                                               multiple
                                               list="classSpells"
                                               max="{{character.classObj.numCantrips}}"
                                               select2-spellcasting="character.classObj.spellcasting"
                                               bonus="bonusSelectedSpells"
                                               theme="select2"
                                               style="width: 100%;">
                                        <ui-select-match placeholder="Pick your spells">{{$item.name}}</ui-select-match>
                                        <ui-select-choices group-by="'level_desc'"
                                                           repeat="spell in classSpells track by $index"
                                                           refresh="refreshSpells($select.search)"
                                                           refresh-delay="500">
                                            <div ng-bind-html="spell.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>-->
                                </div>
                            </div>
                            <div class="form-group" ng-show="character.classObj.spellcasting.numSpellsKnown">
                                <label class="col-sm-4 control-label">Spells:</label>
                                <div class="col-sm-8">
                                    <spell-dialog ng-model="character.classObj.selectedSpells" list="classSpells"
                                                  select2-spellcasting="character.classObj.spellcasting"
                                                  other-spell="character.classObj.spellcasting.bonusSelectedSpells"></spell-dialog>
                                </div>
                            </div>
                            <div class="form-group" ng-show="character.classObj.spellcasting.bonus.numSpellsKnown">
                                <label class="col-sm-4 control-label">Bonus Spells:</label>
                                <div class="col-sm-8">
                                    <spell-dialog ng-model="character.classObj.bonusSelectedSpells" list="classBonusSpells"
                                                  select2-spellcasting="character.classObj.spellcasting.bonus"
                                                  other-spell="character.classObj.selectedSpells"></spell-dialog>
                                </div>
                            </div>
                            <div class="form-group" ng-repeat="spellObj in character.classObj.spellcasting.bonusSpells">
                                <label class="col-sm-4 control-label">Level {{spellObj.spellLevel}} Spell:</label>
                                <div class="col-sm-8">
                                    <spell-dialog ng-model="spellObj.selectedSpell" list="classBonusSpells"
                                                  select2-spellcasting="spellObj"
                                                  other-spell="character.classObj.selectedSpells"></spell-dialog>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group" ng-if="character.raceObj.selectedFeature">
                                <label class="col-sm-4 control-label">{{character.raceObj.selectedFeature.parent_name}} ({{character.raceObj.selectedFeature.name}})</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static" compile="character.raceObj.selectedFeature.benefit_desc"></p>
                                </div>
                            </div>
                            <div class="form-group" ng-repeat="racialTrait in character.raceObj.racialTraits">
                                <label class="col-sm-4 control-label">{{racialTrait.name}}</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static" compile="racialTrait.benefit"></p>
                                </div>
                            </div>
                            <div class="form-group" ng-repeat="classFeature in character.classObj.charFeatures">
                                <label class="col-sm-4 control-label">{{classFeature.name}}</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static" compile="classFeature.benefit"></p>
                                </div>
                            </div>
                            <div class="form-group" ng-repeat="feat in character.feats">
                                <label class="col-sm-4 control-label">{{feat.name}}</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static" compile="feat.benefit_desc"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{character.background.trait_name}}</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static" compile="character.background.trait_desc"></p>
                                </div>
                            </div>
                        </fieldset>
                    </div> <!-- .col-sm-6 -->
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Proficiencies</legend>
                            <div class="form-group" ng-show="character.background.tool_choices">
                                <label class="col-sm-4 control-label">Tool Proficiency:</label>
                                <div class="col-sm-8">
                                    <select-modal tools ng-model="character.background.selectedTools" placeholder="Select your Tool(s)"
                                                  data="availableTools" click="openToolDialog('background')" name="character.background.selectedTools"
                                                  multiple max="character.background.numToolChoices" filter="filterTools: character.background.tool_choices:character.tools" select></select-modal>
                                </div>
                            </div>
                            <div class="form-group" ng-show="character.classObj.tool_choices">
                                <label class="col-sm-4 control-label">Class Tool Proficiency:</label>
                                <div class="col-sm-8">
                                    <select-modal tools ng-model="character.classObj.selectedTools" placeholder="Select your Tool(s)"
                                                  data="availableTools" click="openToolDialog('classObj')" name="character.classObj.selectedTools"
                                                  multiple max="character.classObj.numToolChoices" filter="filterTools: character.classObj.tool_choices:character.tools" select></select-modal>
                                </div>
                            </div>
                            <div class="form-group" ng-show="character.numLanguages > 0">
                                <label class="col-sm-4 control-label">Languages:</label>
                                <div class="col-sm-8">
                                    <select-modal languages="character.numLanguages" ng-model="character.selectedLanguages"
                                                  placeholder="Select your Language(s)" data="availableLanguages"
                                                  click="openLanguageDialog()" name="character.selectedLanguages"
                                                  filter="filterLanguages: character.raceObj.languages" multiple
                                                  max="select2Languages" select></select-modal>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Armor Proficiencies:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static"><span ng-if="!character.armor">None</span>{{character.armor | joinBy}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Weapon Proficiencies:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static"><span ng-if="!character.weapons">None</span>{{character.weapons | joinBy}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tool Proficiencies:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static"><span ng-if="!character.tools">None</span>{{character.tools}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Languages:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{character.languages}}</p>
                                </div>
                            </div>
                        </fieldset>

                    </div> <!-- .col-sm-6 -->
                </div>
            </wz-step>
            <wz-step wz-title="Description">
                <div class="row">
                    <div class="col-sm-12">
                        <legend>Describe Your Character</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="character.name" placeholder="Pick a Name...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Ideal:</label>
                                <div class="col-sm-8">
                                    <select-modal ng-model="character.ideal" placeholder="Select an Ideal"
                                                  click="openIdealDialog()" name="character.ideal.name"></select-modal>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Backstory:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" ng-model="character.backstory" rows="4" maxlength="512"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Summary">
                <div class="row">
                    <div class="col-sm-12">
                        <legend>Summary</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>{{character.name}}</h3>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th colspan="2">Level {{character.level}} {{character.raceObj.name}} {{character.classObj.name}}
                                    <span ng-if="character.pseudo_class">({{character.pseudo_class}})</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Background</th>
                                <td>{{character.background.name}}</td>
                            </tr>
                            <tr>
                                <th>Armor Class</th>
                                <td>{{character.armorClass}}</td>
                            </tr>
                            <tr>
                                <th>Hit Points</th>
                                <td>{{character.hitPoints}}</td>
                            </tr>
                            <tr>
                                <th>Initiative</th>
                                <td>{{character.initiative | addPlus}}</td>
                            </tr>
                            <tr>
                                <th>Speed</th>
                                <td>{{character.speed}} ft.</td>
                            </tr>
                            <tr>
                                <th>Proficiency Bonus</th>
                                <td>+{{character.profBonus}}</td>
                            </tr>
                            <tr>
                                <th>Armor Proficiencies: </th>
                                <td><span ng-if="!character.armor">None</span>{{character.armor | joinBy}}</td>
                            </tr>
                            <tr>
                                <th>Weapon Proficiencies: </th>
                                <td><span ng-if="!character.weapons">None</span>{{character.weapons | joinBy}}</td>
                            </tr>
                            <tr>
                                <th>Tool Proficiencies: </th>
                                <td><span ng-if="!character.tools">None</span>{{character.tools}}</td>
                            </tr>
                            <tr>
                                <th>Languages</th>
                                <td>{{character.languages}}</td>
                            </tr>
                            <tr>
                                <th>Passive Perception</th>
                                <td>{{character.passivePerception}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <h4>Ability Scores</h4>
                            <table class="table table-condensed">
                                <thead>
                                    <th>Ability</th>
                                    <th>Base</th>
                                    <th>Mod</th>
                                    <th><abbr title="Saving Throws">ST</abbr></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Strength</td>
                                        <td>{{character.ability.str.adjScore}}</td>
                                        <td>{{character.ability.str.mod | addPlus}}</td>
                                        <td>{{character.ability.str.savingThrow | addPlus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Dexterity</td>
                                        <td>{{character.ability.dex.adjScore}}</td>
                                        <td>{{character.ability.dex.mod | addPlus}}</td>
                                        <td>{{character.ability.dex.savingThrow | addPlus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Constitution</td>
                                        <td>{{character.ability.con.adjScore}}</td>
                                        <td>{{character.ability.con.mod | addPlus}}</td>
                                        <td>{{character.ability.con.savingThrow | addPlus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Intelligence</td>
                                        <td>{{character.ability.int.adjScore}}</td>
                                        <td>{{character.ability.int.mod | addPlus}}</td>
                                        <td>{{character.ability.int.savingThrow | addPlus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Wisdom</td>
                                        <td>{{character.ability.wis.adjScore}}</td>
                                        <td>{{character.ability.wis.mod | addPlus}}</td>
                                        <td>{{character.ability.wis.savingThrow | addPlus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Charisma</td>
                                        <td>{{character.ability.cha.adjScore}}</td>
                                        <td>{{character.ability.cha.mod | addPlus}}</td>
                                        <td>{{character.ability.cha.savingThrow | addPlus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <h4>Skills</h4>
                            <ul class="list-inline">
                                <li ng-repeat="skill in character.skills">{{skill.name}} {{skill.val | addPlus}}</li>
                            </ul>
                        </div>
                    </div> <!-- col-sm-6 -->
                    <div class="col-sm-6">
                        <h4>Features & Traits</h4>
                        <dl>
                            <div ng-if="character.raceObj.selectedFeature">
                                <dt>{{character.raceObj.selectedFeature.parent_name}} ({{character.raceObj.selectedFeature.name}})</dt>
                                <dd compile="character.raceObj.selectedFeature.benefit_desc"></dd>
                            </div>
                            <div ng-repeat="racialTrait in character.raceObj.racialTraits">
                                <dt>{{racialTrait.name}}</dt>
                                <dd compile="racialTrait.benefit"></dd>
                            </div>
                            <div ng-repeat="classFeature in character.classObj.charFeatures">
                                <dt>{{classFeature.name}}</dt>
                                <dd compile="classFeature.benefit"></dd>
                            </div>
                            <div ng-repeat="feat in character.feats">
                                <dt>{{feat.name}}</dt>
                                <dd compile="feat.benefit_desc"></dd>
                            </div>
                            <div>
                                <dt>{{character.background.trait_name}}</dt>
                                <dd>{{character.background.trait_desc}}</dd>
                            </div>
                        </dl>

                        <div ng-if="character.classObj.spellcasting || character.raceObj.spellcasting">
                            <h4>Spellcasting</h4>
                            <table class="table table-condensed">
                                <tr>
                                    <th>Spellcasting Ability: </th>
                                    <td>{{character.classObj.spellcasting.spellAbility | ability}}</td>
                                </tr>
                                <tr>
                                    <th>Spell Save DC: </th>
                                    <td>{{character.classObj.spellcasting.spellSaveDC}}</td>
                                </tr>
                                <tr>
                                    <th>Spell Attack Bonus: </th>
                                    <td>{{character.classObj.spellcasting.spellAttkBonus | addPlus}}</td>
                                </tr>
                                <tr ng-if="character.classObj.selectedCantrips">
                                    <th>Cantrips: </th>
                                    <td>
                                        <ul class="list-inline">
                                            <li ng-repeat="cantrip in character.classObj.selectedCantrips">
                                                <a href="" spell-info-dialog="{{cantrip.readable_id}}">
                                                    {{cantrip.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr ng-repeat="(level, spells) in character.classObj.selectedSpellsByLevel track by level">
                                    <th class="col-sm-4">{{level}} Spells: </th>
                                    <td>
                                        <ul class="list-inline">
                                            <li ng-repeat="spell in spells">
                                                <a href="" spell-info-dialog="{{spell.readable_id}}">
                                                    {{spell.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="character.bonus_spell_ability">
                            <h4>Bonus Spellcasting</h4>
                            <table class="table table-condensed">
                                <tr>
                                    <th>Spellcasting Ability: </th>
                                    <td>{{character.raceObj.spellcasting.spellAbility | ability}}</td>
                                </tr>
                                <tr>
                                    <th>Spell Save DC: </th>
                                    <td>{{character.raceObj.spellcasting.spellSaveDC}}</td>
                                </tr>
                                <tr>
                                    <th>Spell Attack Bonus: </th>
                                    <td>{{character.raceObj.spellcasting.spellAttkBonus | addPlus}}</td>
                                </tr>
                                <tr>
                                    <th>Cantrips: </th>
                                    <td>
                                        <ul class="list-inline">
                                            <li ng-repeat="cantrip in character.raceObj.cantrip">
                                                <a href="" spell-info-dialog="{{cantrip.readable_id}}">
                                                    {{cantrip.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div> <!-- col-sm-6 -->
                </div> <!-- row -->
            </wz-step>
        </div> <!--panel-body-->
        <div class="panel-footer">
            <ul class="pager no-margin">
                <li class="previous"><button type="button" wz-previous ng-hide="isFirstStep()" class="pull-left btn btn-default">← Prev</button></li>
                <li class="next"><button type="button" wz-next ng-disabled="!validateStep()" class="pull-right btn btn-primary">{{nextTitle}} →</button></li>
            </ul>
            <!--<button type="button" class="btn btn-default hide-icon" ng-click="openSummary()"><i class="fa fa-list-alt"></i> Open Summary</button>
            <button type="button" class="btn btn-default hide-icon" ng-click="openNewCharDialog()"><i class="fa fa-plus"></i> New Character</button>-->
        </div>
    </div> <!-- panel -->
    </wizard>

    <form name="charGenForm" ng-submit="saveCharacter()" novalidate class="hide">
        <input type="hidden" id="inputName" name="charName" ng-model="character.name" required />
        <input type="hidden" id="inputRace" name="raceName" ng-model="character.raceObj.name" required />
        <input type="hidden" id="inputClass" name="className" ng-model="character.classObj.name" required />
        <input type="hidden" id="inputSubclass" name="subclassName" ng-model="character.classObj.subclassObj.name" ng-required="character.classObj.subclasses.length > 0" />
        <!--<input type="hidden" id="inputFeature" name="featureName" ng-model="selectedFeature.name" ng-required="featureChoices.length > 0" />-->
        <input type="hidden" id="inputBackground" name="backgroundName" ng-model="character.background.name" required />
        <input type="hidden" id="inputLanguage" name="languageName" ng-model="numLanguagesLeft" is-empty />
        <input type="hidden" id="inputSkills" name="skillsName" ng-model="character.numSkillsLeft" is-empty />
        <input type="hidden" id="inputAbPts" name="abPtsLeftName" ng-model="character.ability.pointsLeft" is-empty />
        <!--<button class="btn btn-primary" ng-click="saveCharacter()" ng-disabled="charGenForm.$invalid">Save Character</button>-->

        <!--<div class="error-container" ng-show="validating && charGenForm.$invalid">
            <div><small class="text-danger" ng-show="charGenForm.charName.$error.required">Please name your character</small></div>
            <div><small class="text-danger" ng-show="charGenForm.raceName.$error.required">Please choose a race</small></div>
            <div><small class="text-danger" ng-show="charGenForm.backgroundName.$error.required">Please choose a background</small></div>
            <div><small class="text-danger" ng-show="charGenForm.languageName.$error.notEmpty">You need to choose your languages</small></div>
            <div><small class="text-danger" ng-show="charGenForm.className.$error.required">Please choose a class</small></div>
            <div><small class="text-danger" ng-show="charGenForm.subclassName.$error.required">Please choose a subclass</small></div>
            <div><small class="text-danger" ng-show="charGenForm.skillsName.$error.notEmpty">Please select your skills</small></div>
            <div><small class="text-danger" ng-show="charGenForm.abPtsLeftName.$error.notEmpty">Please assign your ability scores</small></div>
        </div>-->
    </form>
    <script type="text/ng-template" id="progressBar.html">
        <!--<div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">-->
            <div class="modal-header">
                <h4 class="modal-title">Processing...</h4>
            </div>
            <div class="modal-body">
                <progressbar class="progress-striped active" animate="false" value="progress"></progressbar>
            </div>
        <!--</div>-->
    </script>
    <script type="text/ng-template" id="wizard.html">
        <div class="wizard">
            <div class="align-center row">
                <ul class="pagination" ng-if="!hideIndicators" style="width:100%;">
                    <li ng-class="{
                    active: step.selected,
                    disabled: !step.completed && !step.selected}" ng-repeat="step in steps">
                        <a ng-click="goTo(step)" ng-style="{'width':100*(1/steps.length) + '%'}">{{step.title || step.wzTitle}}</a>
                    </li>
                </ul>
            </div>
            <!--<div class="clearfix"></div>-->
            <div class="steps row" ng-transclude></div>
        </div>
    </script>
</div>